html,
body {
    height: 100%;
    background-image: url("../images/sky_field.jpg");
}

h2 {
    color: paleturquoise;
}

#info,
#new_task_info {
    color: white;
}

.ui-datepicker {
    width: 20rem;
}
