html,
body {
    height: 100%;
    background-image: url("../images/sky_field.jpg");
}

h2 {
    color: paleturquoise;
}

#info,
#new_task_info {
    color: white;
}

.ui-datepicker {
    width: 20rem;
}

.btn-back {
    border: none;
    background-color: transparent;
    outline: none;
    color: #9d9f96;
}
