{% extends 'base.html' %}

{% block content %}
<h1 style="color: beige">Set your name</h1>

{{form.nickname.ValidationError}}
<form action="" method="post">
    {{form.hidden_tag()}}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <dl>
        <dd><span style="color: beige; text-align: justify">Username </span>{{form.nickname}}</dd>
        <dd><span style="color: beige">Password </span>{{form.password}}</dd>
    </dl>
    {% for error in form.errors.nickname %}
    <span>{{error}}</span>
    {% endfor %}
    <p><input type="submit" value="Log In"></p>
</form>

{% endblock %}