{% extends 'base.html' %}

{% block head %}
<head>
    <title>{{title}}</title>
</head>
{% endblock %}

{% block content %}

{% if query_number == 1 %}
<div class="card-title">{{ query_title }}</div>
    {% for query in queries %}
    <div class="card" style="width: 30rem">
        <div class="card-text">
            {{ query.status }}
        </div>
    </div>
    {% endfor %}
{% endif %}

{% if query_number == 2 %}
<div class="card-title">{{ query_title }}</div>
    <div class="card" style="width: 30rem">
    {% for query in queries %}
        {% for name in query %}
        <div class="card-text">
            {{ name.name }}
        </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endif %}

{% if query_number == 3 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% if query_number == 4 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% if query_number == 5 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% if query_number == 6 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% if query_number == 7 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% if query_number == 8 %}
<div class="card">
    <div class="card-title">
        <div class="card-body">

        </div>
    </div>
</div>
{% endif %}

{% endblock %}