{% extends 'base.html' %}

{% block head %}
<head>
    <title>{{title}}</title>
</head>
{% endblock %}

{% block content %}

<h2>User: {{ user.nickname }}</h2>

{% for project in projects %}
    <div class="form">
        <span id="name_{{ project.name }}" style="color: white;">{{ project.name }}</span>
        <input type="hidden" id="project_id" value="{{ project.id }}">
        <input id="project_name{{ project.id }}" value="{{ project.name }}" hidden>
            <button id="edit{{ project.id }}" onclick="editProject({{project.id}}, '{{project.name}}')">Edit</button>
            <button id="save{{ project.id }}" onclick="updateProject({{project.id}}, '{{project.name}}')" hidden>Save</button>
            <button onclick="deleteProject({{project.id}})">Delete</button>
        <div class="">
            <input id="new_task">
            <button id="add_task">Add Task</button>
            <span id="task_info" hidden></span>
        </div>
    </div>

    {% for task in project.tasks %}
        <div class="form">
            <input type="checkbox" id="task_done{{ task.id }}" onchange="doneTask({{ task.id }}, {{ project.id }})"
                   {% if task.status == 'complete' %} checked {% else %} '' {% endif %}>
            <span id="task_name{{ task.id }}" style="color: plum;">{{ task.name }}</span>
            <input id="new_task_name{{ task.id }}" value="{{ task.name }}" hidden>
            <input id="datepicker{{ task.id }}" onclick="showDate({{ task.id }})"
                   {% if task.deadline %} value="{{ task.deadline }}" {% else %} hidden {% endif %}>
        <button id="move_task">Move</button>
        <button id="edit_task{{ task.id }}" onclick="editTask({{ task.id }})">Edit</button>
        <button id="save_task{{ task.id }}" onclick="updateTask({{ task.id }}, {{ project.id }})" hidden>Save</button>
        <button onclick="deleteTask({{ task.id }}, {{ project.id }})">Delete</button>
        <span id="new_task_info" hidden></span>
        </div>
    {% endfor %}
{% endfor %}

<input type="text" id="new_project">
<button id="add_project">Add TODO List</button>
<br><span id="info"></span>

{% endblock %}